<!DOCTYPE html>
<html>
  <head>
    <title>Market</title>
    <%= csrf_meta_tags %>

	  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

	  <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

	  <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">
	  </script>

	  <!--icone materialize -->
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	  <style>
	  	body {
		    display: flex;
		    min-height: 100vh;
		    flex-direction: column;
	  	}

		main {
		  flex: 1 0 auto;
		}

		.btn-devise{
			width: 100%;
		}

	  </style>
	  

  </head>

  <body>

  	<%= render "layouts/header" %>
	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>

  	<main class="container">
    	<%= yield %>
	</main>

    <%= render "layouts/footer" %>




  </body>
	<script>
		$(".button-collapse").sideNav();
	</script>
</html>
